*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    width: 10rem;
}
.nav-items > ul {
    display: flex;
}
.nav-items > ul > li {
    margin: 2rem;
    list-style: none;
}
.nav-items > ul > li > a {
    text-decoration: none;
    color: black;
}
.resturant-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.resturant-card {
    width: 20rem;
    border-radius: 15px;
    margin: 1%;
}
.resturant-card:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}
.body{
    margin: 0 10%;
}
.Search{
    margin: 2rem;
}
.res-logo{
    width: 100%;
    border-radius: 15px;
    height: 12rem;
    object-fit: cover;
}
.resturant-card__details{
    margin: 1rem 0.75rem;
}
.resturant-card__details > p, span {
    font-size: 1rem;
    color: rgba(2, 6, 12, 0.6);
    
}
.resturant-card__details > span {
    margin-top: 50%;
}
.res-name{  
    font-size: 2rem;
    color: rgba(2, 6, 12, 0.92);
    margin-bottom: .75rem;
}
.top-rated-resturants-btn, .filter-price-high-to-low{
    padding: 1rem;
    border-radius: 2rem;
    color:#3a3a3a;
    cursor: pointer;
    margin: 0 2% 0 2%;
}
.search-box{
    height: 2rem;
    width: 20%;
    margin-left: 4rem;
}
/* .filter-container{
  display: flex;
  align-items: center;
  justify-content: space-between; 
}
.search-box{
    margin: 0 auto;
    display: block;
    text-align: center;
    width: 20%;
} */